 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 /* CUERPO DE LA PAGINA */
 body {
     width: 100%;
     max-width: 100%;
     overflow-x: hidden;
 }

 body p:first-of-type {
     background-color: #f2f4f4;
     text-align: center;
     padding: 15px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     padding-top: 10px;
     cursor: pointer;
 }

 header {
     align-items: center;
     padding: 6px 0px;
     position: sticky;
     top: 0px;
     z-index: 2;
     background-color: white;
     height: 350px;
     box-sizing: border-box;
 }

 /* CAJA BUSCADOR  */
 body>header>nav>form {
     display: flex;
     border: 1px solid #ccc;
     border-radius: 25px;
     padding: 0.5rem 2rem;
     width: 800px;
     background-color: white;
     position: sticky;
     left: 500px;
     bottom: 60px;
 }

 /* TEXTO DENTRO ¿Que estás buscando?*/
 #buscar {
     border: none;
     outline: none;
     padding: 1px;
     font-size: 20px;
     font-weight: bold;
     flex: 1;
     position: relative;
     right: 5px;
 }

 /*BOTON BUSCAR*/
 body>header:nth-child(1)>nav:nth-child(2)>form:nth-child(1)>button:nth-child(3) {
     background: none;
     border: none;
     cursor: pointer;
     padding: 3px;
     position: relative;
     left: 10px;
 }

 /*LOS TRES ICONOS*/
 aside.icon-container {
     position: absolute;
     top: 75px;
     right: 50px;
     display: flex;
     /*DISTANCIA ENTRE ICONOS*/
     gap: 15px;
     padding: 15px;
 }

 article ul {
     /*LISTA CABECERA*/
     font-family: sans-serif;
     display: flex;
     justify-content: center;
     padding: 80px;
     margin: 20px 0px;
     list-style: none;
 }

 ul li {
     list-style-type: none;
     display: inline;
     /*ESPACIO ENTRE PALABRAS*/
     margin-right: 10px;
 }

 /*MODELO Y TAMAÑO PALABRAS*/
 article ul li a {
     margin: 0px 20px;
     cursor: pointer;
     text-decoration: none;
     font-size: 18px;
     color: black;
 }

 /*TEXTO LISTA */
 article ul li a span {
     text-transform: uppercase;
     letter-spacing: 1.0px;
     color: black;
 }

 body>main:nth-child(2)>h2:nth-child(2) {
     text-transform: uppercase;
     letter-spacing: 1px;
     font-family: Trebuchet;
     font-size: 15px;
     margin-left: 100px;
     margin-top: 50px;
 }

 /*BANNER*/
 .gallery-item {
     min-width: 100%;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     position: relative;
 }

 .gallery-item img {
     max-width: 100%;
     height: auto;
     display: block;
 }

 /* CATEGORIA */
 body>h2 {
     text-transform: uppercase;
     letter-spacing: 1px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 20px;
     margin-left: 30px;
     margin-top: 50px;
 }

 /* CAJA DE "LAS REBAJAS" */
 section[aria-label="gallery"] {
     background-color: aqua;
     height: 200px;
     margin: 0 auto;
 }

 /* FONDO DE "LAS REBAJAS" */
 section[aria-label="gallery"] p {
     text-align: center;
     height: 80px;
     font-size: 20px;
     color: aliceblue;
     padding-top: 80px;
     padding-bottom: 30px;
 }

 /* TEXTO DENTRO DEL FONDO "LAS REBAJAS" */
 section[aria-label="gallery"] p a {
     font: 80%;
     font-family: Arial, Helvetica, sans-serif;
     text-decoration: none;
     text-align: center;
     color: aliceblue;
 }

 /* 1er TEXTO DENTRO DEL FONDO */
 section[aria-label="gallery"] p:first-of-type {
     background-color: #dc143c;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 50px;
     padding-top: 55px;

 }

 /* 2º TEXTO DENTRO DEL FONDO */
 section[aria-label="gallery"] p:nth-of-type(2) {
     background-color: #dc143c;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 30px;
     padding-top: 45px;
 }

 /* 3º TEXTO DENTRO DEL FONDO */
 section[aria-label="gallery"] p:nth-of-type(3) {
     background-color: #dc143c;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
     padding-top: 20px;
 }

 /*SEPARA LINEAS DEL MEDIO EN LA IMAGEN */
 table {
     width: 100%;
     font-family: sans-serif;
     table-layout: auto;
     width: 60%;
     margin-left: auto;
     margin-right: auto;
 }

 td {
     text-align: center;
     text-transform: capitalize;
     padding: 15px;
 }

 /* LISTA CLICK&CLAR */
 ul {
     /*Eliminar viñetas*/
     list-style: none;
     display: flex;
     margin: 30px;
     padding-top: 60px;
     padding-bottom: 50px;
 }

 ul li img {
     margin-bottom: 5px;
     margin-left: auto;
     margin-right: auto;
 }

 /* LOS BOTONES QUE ESTAN EN EL PIE */
 section ul li {
     /*Alinear imagen y texto en línea*/
     display: flex;
     align-items: center;
     justify-content: right;
     border: 1px solid lightsteelblue;
     border-radius: 5px;
     padding: 0.7rem;
     width: 18%;
     margin-left: 90px;
     margin-right: 4.5rem;
 }

 /*TEXTO DENTRO DE LOS BOTONES QUE ESTAN EN EL PIE*/
 section ul li a {
     /*Sin subrayado*/
     text-decoration: none;
     /*Color del texto*/
     color: black;
     font-size: 16px;
     font-family: Arial, sans-serif;
     text-align-last: left;
     text-align: center;
     white-space: normal;
     width: 200px;
 }

 section ul li span {
     color: green;

 }

 section ul li img {
     height: 30px;
     width: 30px;
     overflow: hidden;
 }

 /*EJECUTA EL FORMULARIO*/
 footer {
     background-color: #ccc;
     padding: 30px;
     font-family: Arial, Helvetica, sans-serif;
 }

 /*FORMULARIO DE ABAJO*/
 body>footer:nth-child(6)>section:nth-child(1)>form:nth-child(1) {
     position: relative;
     left: 22%;
     width: 50%;
     background-color: white;
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 8px;
 }

 /*FORMULARIO DE ABAJO-MARGEN AL REDEDOR*/
 fieldset {
     border: 2px solid #ddd;
     padding: 20px;
     border-radius: 10px;
     margin-bottom: 20px;
 }

 legend {
     font-size: 1.2rem;
     /*NEGRITA*/
     font-weight: bold;
     color: green;
 }

 label {
     font-size: 1rem;
     margin-top: 10px;
     display: block;
     color: #333;
 }

 input[type="text"],
 input[type="email"],
 input[type="password"] {
     width: 96%;
     padding: 10px;
     margin-top: 8px;
     margin-bottom: 10px;
     border-radius: 8px;
     border: 1px solid #ccc;
     font-size: 1rem;
 }

 small {
     font-size: 0.9rem;
     color: #6c757d;
 }

 /* EDITA BOTONES*/

 button {
     padding: 10px 20px;
     border-radius: 8px;
     border: none;
     font-size: 1rem;
     cursor: pointer;
 }

 button.btn-success {
     background-color: green;
     color: white;
 }

 button.btn-success:hover {
     background-color: black;
 }

 button.btn-secondary {
     background-color: #6c757d;
     color: white;
 }

 button.btn-secondary:hover {
     background-color: black;
 }

